.App {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  background: whitesmoke;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel Decorative', cursive;
}

footer {
  height: 4em;
  background-color: #333;
  border-top: 1px solid #666;
}

footer h6 {
  color: #666;
  line-height: 4em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: inline-block;
}






